
$space-large: 2rem;
$title-color: #555;

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

input[type=search] {
  box-shadow:  inset 0px 0px 17px 3px rgba(0,0,0,0.15);
  border: 0px solid rgba(100,100,100,0.15);
}
